#container{
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 72%;
    width: 35%;
    height: 85%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

header{
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.336);
    width: 100%;
    height: 15%;
}

main{
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.336);
}

footer{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 15%;
}